<div class="row mb-4">
  <div class="col-12">
    <h2 class="text-center fw-bold">Posts</h2>
  </div>
  <div class="col-12">
    <button
      data-bs-target="#addModal"
      data-bs-toggle="modal"
      class="btn btn-primary float-end"
    >
      <i class="fa fa-plus"></i>
    </button>
  </div>
</div>
<ng-container *ngIf="posts.length > 0; else noPosts">
  <div class="table-responsive">
    <table class="table table-hover text-center align-middle">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Created At</th>
          <th>Updated At</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (post of posts | paginate: {itemsPerPage : 7, currentPage: p};
        track post.id) {
        <tr>
          <td>{{ post.title }}</td>
          <td>{{ post.description }}</td>
          <td>{{ post.createdAt | date : "medium" }}</td>
          <td>{{ post.updatedAt | date : "medium" }}</td>
          <td>
            <div class="btn-group">
              <button
                (click)="preview(post)"
                data-bs-target="#previewModal"
                data-bs-toggle="modal"
                class="btn btn-warning"
              >
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
              <button
                (click)="get(post)"
                data-bs-target="#updateModal"
                data-bs-toggle="modal"
                class="btn btn-success"
              >
                <i class="fa fa-edit"></i>
              </button>
              <button (click)="delete(post)" class="btn btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="float-end mt-3">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</ng-container>
<ng-template #noPosts>
  <p class="text-center fs-1 fw-bold">There is no posts.</p>
</ng-template>

<!-- Create Modal -->
<div
  class="modal fade"
  id="addModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create New Post</h1>
        <button
          #createModalCloseBtn
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form #form="ngForm" (ngSubmit)="create(form)" autocomplete="off">
        <div class="modal-body">
          <div class="form-group mb-3">
            <label class="form-label">Title</label>
            <input
              (keyup)="editCreatedPostUrl()"
              (blur)="editCreatedPostUrl()"
              #title="ngModel"
              [(ngModel)]="createModel.title"
              name="title"
              type="text"
              class="form-control form-control"
              placeholder="Title..."
              required
              minlength="2"
              maxlength="50"
            />
            @if(title.invalid && (title.dirty || title.touched)){
            @if(title.errors?.['required']){
            <div class="text-danger">A title is required!</div>
            } @if(title.errors?.['minlength']){
            <div class="text-danger">
              Title must be at least 2 characters long!
            </div>
            } }
          </div>
          <div class="form-group mb-3">
            <label class="form-label">Post Url</label>
            <input
              #postUrl="ngModel"
              [(ngModel)]="createModel.postUrl"
              name="postUrl"
              type="text"
              class="form-control form-control"
              placeholder="Post url..."
              readonly
              required
            />
          </div>
          <div class="form-group mb-3">
            <label class="form-label">Description</label>
            <input
              #description="ngModel"
              [(ngModel)]="createModel.description"
              name="description"
              type="text"
              class="form-control form-control"
              placeholder="Description..."
              required
              minlength="2"
              maxlength="100"
            />
            @if(description.invalid && (description.dirty ||
            description.touched)){ @if(description.errors?.['required']){
            <div class="text-danger">A description is required!</div>
            } @if(description.errors?.['minlength']){
            <div class="text-danger">
              Description must be at least 2 characters long!
            </div>
            } }
          </div>
          <div class="form-group mb-3">
            <label class="form-label">Image</label>
            <input
              (change)="setCreateImage($event)"
              name="image"
              type="file"
              class="form-control"
              required
            />
          </div>
          <div class="form-group mb-3">
            <label class="form-label">Content</label>
            <!-- <textarea
              #content="ngModel"
              [(ngModel)]="createModel.content"
              name="content"
              type="text"
              class="form-control form-control"
              placeholder="Content..."
              rows="7"
              required
              minlength="50"
            ></textarea> -->
            @if(content.invalid && (content.dirty || content.touched)){
            @if(content.errors?.['required']){
            <div class="text-danger">A content is required!</div>
            } }
            <ckeditor
              #content="ngModel"
              [(ngModel)]="createModel.content"
              name="content"
              [editor]="Editor"
              [config]="config"
              required
            ></ckeditor>
          </div>
        </div>
        <div class="modal-footer">
          <button
            [disabled]="!form.valid"
            type="submit"
            class="btn btn-primary"
          >
            Save changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Update Modal -->
<div
  class="modal fade"
  id="updateModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update Post</h1>
        <button
          #updateModalCloseBtn
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form
        #updateForm="ngForm"
        (ngSubmit)="update(updateForm)"
        autocomplete="off"
      >
        <div class="modal-body">
          <div class="form-group mb-3">
            <label class="form-label">Title</label>
            <input
              (keyup)="editUpdatedPostUrl()"
              (blur)="editUpdatedPostUrl()"
              #updateTitle="ngModel"
              [(ngModel)]="updateModel.title"
              name="updateTitle"
              type="text"
              class="form-control form-control"
              placeholder="Title..."
              required
              minlength="2"
              maxlength="50"
            />
            @if(updateTitle.invalid && (updateTitle.dirty ||
            updateTitle.touched)){ @if(updateTitle.errors?.['required']){
            <div class="text-danger">A title is required!</div>
            } @if(updateTitle.errors?.['minlength']){
            <div class="text-danger">
              Title must be at least 2 characters long!
            </div>
            } }
          </div>
          <div class="form-group mb-3">
            <label class="form-label">Post Url</label>
            <input
              #updatePostUrl="ngModel"
              [(ngModel)]="updateModel.postUrl"
              name="updatePostUrl"
              type="text"
              class="form-control form-control"
              placeholder="Post url..."
              readonly
              required
            />
          </div>
          <div class="form-group mb-3">
            <label class="form-label">Description</label>
            <input
              #updateDescription="ngModel"
              [(ngModel)]="updateModel.description"
              name="updateDescription"
              type="text"
              class="form-control form-control"
              placeholder="Description..."
              required
              minlength="2"
              maxlength="100"
            />
            @if(updateDescription.invalid && (updateDescription.dirty ||
            updateDescription.touched)){
            @if(updateDescription.errors?.['required']){
            <div class="text-danger">A description is required!</div>
            } @if(updateDescription.errors?.['minlength']){
            <div class="text-danger">
              Description must be at least 2 characters long!
            </div>
            } }
          </div>
          <div class="form-group mb-3">
            <label class="form-label">Image</label>
            <input
              (change)="setUpdateImage($event)"
              name="updateImage"
              type="file"
              class="form-control"
              required
            />
          </div>
          <div class="form-group mb-3">
            <label class="form-label">Content</label>
            @if(updateContent.invalid && (updateContent.dirty ||
            updateContent.touched)){ @if(updateContent.errors?.['required']){
            <div class="text-danger">A content is required!</div>
            } }
            <ckeditor
              #updateContent="ngModel"
              [(ngModel)]="updateModel.content"
              name="updateContent"
              [editor]="Editor"
              [config]="config"
              required
            ></ckeditor>
          </div>
        </div>
        <div class="modal-footer">
          <button
            [disabled]="!updateForm.valid"
            type="submit"
            class="btn btn-primary"
          >
            Save changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Preview Modal -->
<div
  class="modal fade"
  id="previewModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Post Preview</h1>
        <button
          #previewModalCloseBtn
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-group mb-3">
          <label class="form-label">Title</label>
          <input
            [(ngModel)]="previewModel.title"
            name="title"
            type="text"
            class="form-control form-control"
            readonly
          />
        </div>
        <div class="form-group mb-3">
          <label class="form-label">Post Url</label>
          <input
            [(ngModel)]="previewModel.postUrl"
            name="postUrl"
            type="text"
            class="form-control form-control"
            readonly
          />
        </div>
        <div class="form-group mb-3">
          <label class="form-label">Description</label>
          <input
            [(ngModel)]="previewModel.description"
            name="description"
            type="text"
            class="form-control form-control"
            readonly
          />
        </div>
        <div class="form-group mb-3">
          <label class="form-label">Image</label>
          <img
            src="https://localhost:44336/img/posts/{{ previewModel.image }}"
            alt="post image"
            class="img-fluid"
          />
          <div class="form-group mb-3">
            <label class="form-label">Content</label>
            <ckeditor
              [disabled]="true"
              #content="ngModel"
              [(ngModel)]="previewModel.content"
              name="content"
              [editor]="Editor"
              [config]="config"
            ></ckeditor>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
